.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  &-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    & img {
      vertical-align: top;
    }

    & p {
      font-size: 1.625rem;
      font-weight: bold;
    }
  }
}
