<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="breadcrumbs__list">
    @for (crumb of breadcrumbs(); track crumb.url; let isLast = $last) {
      <li class="breadcrumbs__item">
        @if(!crumb.active) {
          <a
            [routerLink]="crumb.url"
            class="breadcrumbs__link"
          >
            {{ crumb.label }}
          </a>
        } @else {
          <span class="breadcrumbs__current">{{ crumb.label }}</span>
        }

        @if(!isLast) {
          <span class="breadcrumbs__separator">&gt;</span>
        }
      </li>
    }
  </ol>
</nav>
