<div (click)="onCardClick()" class="card">
  <div class="card__poster">
    <img
      [alt]="film().title"
      [ngSrc]="film().posterUrl"
      width="300"
      height="450"
    >
  </div>

  <div class="card__content">
    <h3 class="card__title">{{ film().title }}</h3>
    <p class="card__meta">{{ film().year }} | {{ film().genre }}</p>
    <p class="card__rating">⭐ {{ film().rating }}/10</p>
  </div>

  <button
    (click)="onFavoriteClick($event)"
    [class.card__favorite--active]="film().isFavorite"
    class="card__favorite"
    type="button"
    name="favorite"
  >
    {{ film().isFavorite ? '★' : '☆' }}
  </button>
</div>
